<mat-card class="login-card">
    <mat-card-title class = "title">Login</mat-card-title>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required>
        </mat-form-field>
  
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
        <div class="button-container">
            <button mat-raised-button color="accent" routerLink="/signup">Go to Signup</button>
          </div>
      </form>
    </mat-card-content>
  </mat-card>
  