<mat-card class="signup-card">
    <mat-card-title class = "title">Sign Up</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSignup()">
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required>
        </mat-form-field>
  
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Sign Up</button>
        </div>
        <div class="button-container">
            <button mat-raised-button color="Basic" routerLink="">Already have an account? Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  